.combo-box {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 5px; /* set the border radius */
    -fx-border-radius: 5px; /* set the border radius */
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-style: bold;
    -fx-background-color: rgba(255, 255, 255, 0.8);
}
.text-field {
    -fx-background-radius: 5px; /* set the border radius */
    -fx-border-radius: 5px; /* set the border radius */
    -fx-background-color: rgba(255, 255, 255, 0.8);
}
#deleteButton{
    -fx-background-color: #ff4d52;
    -fx-border-color: WHITE;
    -fx-background-radius: 0px; /* set the border radius */
    -fx-border-radius: 0px; /* set the border radius */
    -fx-border-width: 5px;
    -fx-background-radius: 50px; /* set the border radius */
    -fx-border-radius: 50px; /* set the border radius */
    -fx-padding: 10px 20px; /* set the padding */
}
#deleteAccount{
    -fx-background-color: #ff4d52;
    -fx-border-color: WHITE;
    -fx-background-radius: 0px; /* set the border radius */
    -fx-border-radius: 0px; /* set the border radius */
    -fx-border-width: 5px;
    -fx-background-radius: 50px; /* set the border radius */
    -fx-border-radius: 50px; /* set the border radius */
    -fx-padding: 10px 20px; /* set the padding */
}
#labelUsername{
    -fx-background-radius: 5px; /* set the border radius */
    -fx-border-radius: 5px; /* set the border radius */
    -fx-background-color: rgba(255, 255, 255, 0.8);
}
.button {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-background-radius: 50px; /* set the border radius */
    -fx-border-radius: 50px; /* set the border radius */
    -fx-padding: 10px 20px; /* set the padding */
}
#idTF{
    -fx-background-radius: 5px; /* set the border radius */
    -fx-border-radius: 5px; /* set the border radius */
    -fx-background-color: rgba(255, 255, 255, 0.8);
}